$blackOpacity: rgba(0, 0, 0, 0.5);
$black: #000;
$white: #fff;
$orange: #bd6734;
$mineShaft: #1f1f1f;
$codGray: #131313;
// $red: #f44336;
$red: #a51a0f;
$gray: #808080;
$green: #3fc244;
$blue: blue;
$yellow: yellow;